@import 'variables';

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding-top: 100px;

  .tech-container {
    display: flex;
    flex-wrap: wrap;
    grid-column: colum 3;
    grid-row: row 2;
    padding: 0px 90px 65px;
  }

  .tech {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: 15px 20px;
    padding: 20px;
    position: relative;
    width: 220px;
  }

  .text {
    display: flex;
    font-size: 14px;
    margin-bottom: 30px;
    max-width: 100%;
    text-align: center;
  }

  .text-bold {
    font-weight: bold;
    padding-bottom: 8px;
  }

  .tech-img {
    display: flex;
    height: $title-decoration-height;
    max-width: 100%;
    width: 100px;
  }
}

.tech-main {
  border-right: 2px $color-green solid;
  grid-column: colum 2;
  grid-row: row 2;
}

@media only screen and (max-width: 1024px) {
  .grid-container {
    grid-template-columns: 100%;

    .tech-container {
      flex-direction: column;
      grid-column-start: 1;
      grid-row-end: 3;
      justify-self: center;
    }

    .tech {
      border-top: 2px $color-green solid;
    }
  }

  .tech-main:nth-child(2) {
    border-right: 2px $color-white solid;
    border-top: 2px $color-white solid;
    justify-self: center;
    grid-column-start: 1;
    grid-row-start: 2;
  }
}
