@import 'variables';

.tech-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 90px 65px;
}

.tech {
  align-items: center;
  background: $color-green;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 320px;
  justify-content: space-between;
  margin: 15px 20px;
  padding: 20px;
  position: relative;
  width: 220px;

  &::before {
    content: '';
    bottom: 10px;
    border-radius: 5px;
    border: 2px solid $color-green;
    height: 320px;
    position: absolute;
    right: 10px;
    width: 220px;
    z-index: -1;
  }
}

.text {
  display: flex;
  margin: 0px 0px 30px;
  max-width: 100%;
  text-align: center;
  font-size: 14px;

}

.text-bold {
  font-weight: bold;
  padding-bottom: 8px;
}

.tech-img {
  display: flex;
  height: $title-decoration-height;
  max-width: 100%;
  width: 100px;
}
