$color-dark-black: #090909;
$color-green: #BED23C;
$color-blue: #00ADEE;
$color-grey: #C4C4C4;
$color-white: #FFF;
$color-light-blue: #00CCFF;
$nav-height: 70px;
$nav-logo-height: 30px;
$title-decoration-height: 90px;
$title-decoration-width: 70px;
$tech-logo-size: 100px;
$text-big: 24px;
$text-medium: 16px;
$text-small: 12px;
$nav-height: 90px;
